*{
    font-family: 'Roboto', sans-serif;
}
/* navbar */
.navbar{
    height: 62px;
    background-color: #28A745;
}

.navbar img{
    width: 86px;
}

/* contenido */
.promo{
    width: 18rem;
}

.promo_title{
    font-size: 20pt;
    font-weight: 300;
    color: #212529;
}

.promo_subtitle{
    font-size: 16pt;
    font-weight: 300;
    color: #707070;
}

.promo_before {
    text-decoration: line-through;
}

.promo_direction{
    font-size: 13pt;
    font-weight: 300;
    color: #707070;
}

.promo_pricing{
    font-size: 20pt;
    font-weight: 500;
    color: #28A745;
}

.card_container{
    justify-content: space-between;
}

/* formulario */
.form_container {
    background-color: #28A745;
}

/* footer */
footer p{
    font-size: 16pt;
}

footer img{
    width: 82px;
    height: 24px;
}